/* Media queries */

@media  only screen and (max-width:768px) {

    .pie-pagina .grupo-1 {

        width: 90vw;
        
        grid-template-columns: repeat(2, 1fr);
        
        grid-gap: 50px;
        
        }
        
        .grupo-1 .box:nth-child(1){
        
        display:none
        
        }
    
     .mostrar-menu,
     .esconder-menu{
         display: block;
     }
    
    .menu{
        position: fixed;
        width: 50%;
        height: 50%;
        background: rgba(0, 0, 0, 0.45);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    } 

    .menu a{
        display: block;
        padding: 20px;
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu{
        right: 0;
    }
}

@media  only screen and (max-width:636px){

    .gps{

        display: none;
    }

    .box1{
        display: none;
    }


    .pie-pagina .grupo-1 {
        width: 90vw;
        grid-template-columns: 100%;
        grid-gap: 50px

    }

    .formulario {

    grid-template-columns: 100%;
    
    }
    
    .formulario .btn-enviar {
    
    display: block;
    
    margin: 0 auto;
    
    }
    
    .formulario form textarea {
    
    min-width: 90%;
    
    }
    .fotofondo2{
    height: 915px;
    }

    .conocenos  {
    text-align: center;
    color: #525555;
    font-family: 'Hubballi', cursive;
    font-size: 50px;
    margin-top: 60%;
    }

    .slide img{
    height: 65vh;
    }

}