/* FOOTER */


.pie-pagina{
    width: 100%;
    background-color: #181617 ;
    margin-top: auto;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: max-content;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 30px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box1 h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 40px;
    font-family:'Hubballi', cursive;
}

.pie-pagina .grupo-1 .box1 P{
    color: #efefef;
    margin-bottom: 10px;
    font-family:'Hubballi', cursive;
}

.pie-pagina .grupo-1 .box2 h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 40px;
    font-family:'Hubballi', cursive;
}
.pie-pagina .grupo-1 .red-social i {
    display: inline-block;
    text-decoration: none;
    color: #efefef;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social i:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}