@import "../abstracts/variables";

.background-image{
    background-image: url(../img/fotofondo.jpeg);
    background-size: cover;
    background-position: center center;
    height: 800px;
    p{
        color: #efefef;
        text-transform: uppercase;
        text-align: center;
        font-family:'Hubballi', cursive;
        font-size: map-get($font-sizes,20 );
        margin-top: 20%;
        background-color: #7A7C7C rgba(255,255,255,0.1); 
    }       
}

.fotofondo{
    background-image: url(../img/fondorune.jpeg);
    background-size: cover;
    background-position: center center;
    height: 700px;
}

.conocenos h1{
    text-align: center;
    color: #525555;
    font-family:'Hubballi', cursive;
    font-size: 50px;
    p{
        text-align: center;
        color: #525555;
        font-family:'Hubballi', cursive;
        font-size:map-get($font-sizes,50 );
     }
}

.gps{
    width: 100%;
    height: 100%;
    text-align: center;
}

.fotofondo2{

    background-image: url(https://images.pexels.com/photos/3355400/pexels-photo-3355400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

    .conocenos h1{
        text-align: center;
        color: white;
        font-family:'Hubballi', cursive;
        font-size: map-get($font-sizes,50 );
    }
    
    p{
        text-align: center;
        color: white;
        font-family:'Hubballi', cursive;
        font-size: map-get($font-sizes,50 );
    }
}